<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1>Edit Shelter</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 left">
      <%= render partial: 'form', locals: {
                                      path: "/shelters/#{@shelter.id}",
                                      method: :patch,
                                      button_text: 'Submit'
                                    } %>
    </div>
  </div>
</div>
