<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1> Applications for <%= @pet.name %> </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <% if @pet.applications.empty? %>
        <p>This pet has no applications</p>
    </div>
      <% else %>
        <% @pet.applications.each do |applicant| %>
          <div class="col-4 center">
            <section id="application-<%= applicant.id %>">
              <h2><%= link_to "#{applicant.name}", "/applications/#{applicant.id}" %></h2>
            </section>
          </div>
      <% end %>
    <% end %>
  </div>
</div>