<h2>Welcome to the site. Enter <%= link_to "here", "/shelters/"%></h2>

<% if current_user %>
  <%= link_to "Log out" %>
<% else %>
  <%= link_to "Register as a User", "users/new" %><br>
  <%= link_to "I already have an account", "/login" %>
<% end %>